.iShop
{
  border: double gray 3px;
  width: 500px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}
.MarketName
{
  font-weight: bold;
  margin: 0px 10px 10px 10px;
}
.MarketName
{
  font-weight: bold;
  margin: 0px 10px 10px 10px;
}
.ColumnName
{
  font-weight: bold;
  text-align: right;
  margin: 0px 5px 5px 5px;
}
.RowName
{
  font-weight: bold;
  text-align: right;
  margin: 0px 5px 5px 5px;
}
.ColumnName .RowN
{
  margin: 0px 5px 5px 5px;
}