.iShop
{
  border: double gray 3px;
  width: 180px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.Ishop .MarketName
{
  font-weight: bold;
}

.Ishop .ColumnName
{
  padding-top: 5px;
}

.Ishop .Rowname
{
  padding-top: 5px;
}

.Ishop .Column. ColumnN 
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}
.Ishop .Row. RowN 
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}
