.iShop
{
  border: double gray 3px;
  width: 180px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.iShop .MarketName
{
  font-weight: bold;
}

.iShop .ColumnName
{
  padding-top: 5px;
}

.iShop .Rowname
{
  padding-top: 5px;
}

.iShop .ColumnN
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}
.iShop .RowN
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}
